<div id="cabeza">
    
<header class="page-header container"  [ngStyle]="{'background-color': _butler.backBlack ? 'black' : 'white'}" [ngStyle]="{'padding-left':  _butler.one ? '6%' :_butler.two ? '10%' : _butler.three ? '13%': _butler.four ? '17%': _butler.five ? '20%': _butler.six ? '20%': null  }">
    <div class="page-header__inner" >
        <div class="page-header__logo-wrap show-in-mob no-transition-menu-item">
            <a class="page-header__logo page-header__logo--front"(click)="goRoute('one')" [hidden]="_butler.route!=='one'">
                <img src="assets/assetssimp/assets/img/logowhite.png" alt="Simplicity">
            </a>
 <!--             <a class="page-header__logo page-header__logo--front hide-in-mob"(click)="goRoute('one')" [hidden]="_butler.route==='one'">
                <img src="assets/assetssimp/assets/img/logoblack.png" alt="Simplicity">
            </a> -->

        </div>
        <button class="hamburger"><span class="visually-hidden">Menu</span></button>
        <div class="page-header__logo-wrap hide-in-mob col-lg-12 col-md-12"  >
            <div class="col-md-6 col-lg-6"  [hidden]="!_butler.backBlack">
                <a class="page-header__logo  page-header__logo--front"(click)="goRoute('one')" >
                    <img src="assets/assetssimp/assets/img/logowhite.png" alt="Simplicity">
                </a>
            </div>
            <div class="col-md-6 col-lg-6"  [hidden]="_butler.backBlack">
                <a class="page-header__logo  page-header__logo--front hide-in-mob"(click)="goRoute('one')" >
                    <img src="assets/assetssimp/assets/img/logoblack.png" alt="Simplicity">
                </a>
            </div>
            <div class="col-md-6 col-lg-6"  [hidden]="!_butler.backBlack">
                <a class="btn1 page-header__logo  page-header__logo--front" href="index.html" data-class="is-first" style="color: #fff;">es </a>

                <a class="btn1 page-header__logo  page-header__logo--front" href="" data-class="is-first" style="color: #fff;">| en  </a>
                <a class="btn1 page-header__logo  page-header__logo--front" href="" data-class="is-first" style="color: #fff; border: 2px solid #fff;"> Estados Unidos</a>
            </div>
             <div class="col-md-6 col-lg-6" [hidden]="_butler.backBlack">
                <a class="btn1 page-header__logo  page-header__logo--front" href="index.html" data-class="is-first" style="color: #000;">es </a>

                <a class="btn1 page-header__logo  page-header__logo--front" href="" data-class="is-first" style="color: #000;">| en  </a>
                <a class="btn1 page-header__logo  page-header__logo--front" href="" data-class="is-first" style="color: #000; border: 2px solid #000;"> Estados Unidos</a>
            </div>
        </div> 
    

        <nav class="page-header__nav">
            <ul id="menu-header-menu" class="page-header__menu">
                <li  (click)="goRoute('two')"><a >Así somos</a>
                </li>
                <li  (click)="goRoute('three')"><a >Esto Somos</a>      
                </li>
                <li  (click)="goRoute('four')"><a >Nos Eligen</a>
                </li>
                <li  class=""><a >Así Respondemos</a>
                </li>
                <li  class=""><a >Tu Equipo</a>
                </li>
                <li  class=""><a  style="color: #000;">Aqui Estamos</a>
                </li>
                
            </ul>        
        </nav>
        
    </div>
</header>

</div>