 <main class="h-100 has-header has-footer">

      
        <!-- main page content -->
      
        <div class="main-container container top-20" *ngIf="_butler.orderSelected[0]!==undefined">
          
            <div class="row mb-2" >
                <div class="col-12 col-md-6 col-lg-4" *ngFor='let product of _butler.orderSelected[0].car ;let i = index'  [hidden]="!product.oncart"  >
                    <div class="card shadow-sm product mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <figure class="text-center avatar-90 avatar" style="background-color:white;">
                                        <img src="{{product.img}}" alt="">
                                    </figure>
                                </div>
                                <div class="col ps-0">
                                     <p class="mb-0">
                                        <small class="text-opac"></small>
                                        <small class="float-end" ><i class="bi bi-alert text-warning"></i> <span
                                                class="text-opac">Bs {{product.costPrice | number:'1.2-2' }}</span></small>
                                    </p>
                                    <h6 class="text-color-theme">{{product.name}}</h6>
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-0"> {{currency}} {{((product.costPrice+(product.costPrice*product.perc/100))/precioDolar)*product.quant | number:'1.2-2' }}<br><small class="text-opac">Cant {{product.quant}} ({{product.presentation}})</small></p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>

             
          
            <!-- pricing -->
            <div class="row mb-3">
                <div class="col align-self-center">
                    <h5 class="mb-0">Costos</h5>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <p>Delivery</p>
                </div>
                <div class="col-auto">$ 0.00</div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <p>Subtotal</p>
                </div>
                <div class="col-auto">{{currency}} {{_butler.orderSelected[0]  | number:'1.2-2'}}</div>
            </div>

            <div class="row fw-bold mb-4">
                <div class="mb-3 col-12">
                    <div class="dashed-line"></div>
                </div>
                <div class="col">
                    <p>Total</p>
                </div>
                <div class="col-auto">{{currency}} {{_butler.orderSelected[0]  | number:'1.2-2'}}</div>
            </div>

            <!-- Button -->
           
        
        </div>
        <!-- main page content ends -->


    </main>