<app-header ></app-header>
<div class="main-wrap">
<div class="main-inner">
        <main data-barba="container" data-barba-namespace="">
            <div class="">
            	<div class="about-hello scroll-section" id="hello">
                    <div class="about-hello__title">
                         <h1>Nos</h1>
                         <h1>hacemos</h1>
                        
                        	<h1 style=" color:#00c889;">cargo.</h1>
                        
                    </div>
                    <div class="about-inner__row">
                        <div class="about-hello__copy about-inner__col--sm" >
                             <p>Combinamos en un solo lugar tu visión y la de expertos en distintas áreas de las comunicaciones para lograr resultados únicos. Tus desafíos, son nuestros desafíos. Relájate, nosotros nos hacemos cargo.
                            </p>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </main>
</div>
</div>
