<app-header></app-header>
<div class="main-wrap">
   <!--  <ul class="nav">
     
        <li><a  data-class="is-first">Así Somos</a>
        </li>
        <li><a  data-class="is-second">Esto Hacemos</a>
        </li>
        <li><a  data-class="is-third">Nos Eligen</a>
        </li>
        <li><a  data-class="is-fourth">Así Respondemos</a>
        </li>
         <li><a  data-class="is-fifth">Tu Equipo</a>
        </li>
        <li><a  data-class="is-sixth" style="color: #000;">Aqui Estamos</a>
        </li>
    </ul> -->
    <div class="main-inner">
        <main data-barba="container" data-barba-namespace="about">
                <div class="about container">
                    <div class="about-inner scroll-section">
                                            
                            <div id="portada"class="noseligen scroll-section">
                                <div class="noseligen__title1">
                                    <h1>Tenemos clientes</h1>
                                    <h1>pero asesoramos</h1>
                                    <div id="personas"style="background-color: black; ">
                                        <h1 style="color:#a03dff;">Personas.</h1>
                                    </div>
                                </div>
                               <div class="col-lg-12 col-md-12 flecha" >
                                    <img class="flecha" src="assets/assetssimp/assets/themes/simplicity/img/flecha.png">
                                </div>
                            </div>

                        <div class="row">
                              <div class="fila">
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_ACCJ.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Apiux.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Asipes.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_BancoFalabella.jpg">
                                </div>
                            </div>
                             <div class="fila">
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Brick.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Calderón.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Candelaria.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Provalle.jpg">
                                </div>
                            </div>
                            <div class="fila">
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Pucobre.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_ColegioSantoTomás.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Engie.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Fintual.jpg">
                                </div>
                            </div>
                            <div class="fila">
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_GrupoPatio.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Gsk.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_IF.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_LaFábrica.jpg">
                                </div>
                            </div>
                            <div class="fila">
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_MallRancagua.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_MrStorage.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Conaf.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_MalPaso.jpg">
                                </div>
                            </div>
                            <div class="fila">
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_PuntaBlanca.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_SalmonesAustral.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_SantoTomás.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_SudMaris.jpg">
                                </div>
                            </div>
                            <div class="fila">
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_SunDreams.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Tecnofast.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Tuin.jpg">
                                </div>
                                <div class="columna">
                                    <img src="assets/assetssimp/assets/img/noseligen/Logosclientes/Logo_Youtopia.jpg">
                                </div>
                            </div>
                        </div>
                          

                             <div id="bono"class="bono scroll-section">
                                <div class="bono">
                                    <h1>Pro bono y campañas sociales.</h1>
                                    
                                </div>
                               
                            </div>

                            <div class="row">
                                    <div class="fila">
                                        <div class="columna">
                                            <img src="assets/assetssimp/assets/img/noseligen/LogosProBono/ProBono_dlc.jpg">
                                        </div>
                                        <div class="columna">
                                            <img src="assets/assetssimp/assets/img/noseligen/LogosProBono/ProBono_hdp.jpg">
                                        </div>
                                        <div class="columna">
                                            <img src="assets/assetssimp/assets/img/noseligen/LogosProBono/ProBono_mgn.jpg">
                                        </div>
                                    </div>
                                    <div class="fila">
                                        <div class="columna">
                                            <img src="assets/assetssimp/assets/img/noseligen/LogosProBono/ProBono_mi.jpg">
                                        </div>
                                        <div class="columna">
                                            <img src="assets/assetssimp/assets/img/noseligen/LogosProBono/ProBono_oqnv.jpg">
                                        </div>
                                    </div>
                            </div>

                    </div>
                <div class="services" style="background-color:#000;">
                    <div class="about-inner__row2" style="">
                                <div class="about-hello__copy about-inner__col--sm">
                                    <div class="about-hello__title">
                                         <h1 >¿Tienes un nuevo desafío?</h1>
                                    </div>
                                </div>
                                <div class="no-transition-menu-item home-copy__btn-wrap1" style="">
                                    <a class="btn2" href=""> Aquí estamos </a>
                                </div>
                    </div>
                </div>
                            
                </div>
             
        </main>
        <main data-barba="container" data-barba-namespace="about">
        </main>
    </div>


</div>