
<div  [ngClass]="{'home page-template page-template-front-page page-template-front-page-php page page-id-5': _butler.route === 'one', 'page-template page-template-template-about page-template-template-about-php page page-id-7 is-first': _butler.route === 'two','page-template page-template-template-services page-template-template-services-php page page-id-11 is-second': _butler.route === 'three','page-template page-template-template-about page-template-template-services-php page page-id-11 is-third': _butler.route === 'four'  }" data-barba="wrapper"
 [ngStyle]="{'background-color': _butler.backBlack ? 'black' : 'white'}"
>  
      <span class="cursor">
    <img src="assets/assetssimp/assets/img/cursor-white.png" alt=""[hidden]="!_butler.one">
    <img src="assets/assetssimp/assets/img/cursor-blue.png" alt=""[hidden]="!_butler.two">
    <img src="assets/assetssimp/assets/img/cursor-green.png" alt=""[hidden]="!_butler.three">
    <img src="assets/assetssimp/assets/img/cursor-purple.png" alt=""[hidden]="!_butler.four">
</span>
    <div class="is-mobile"></div>
      
    <div class="main-wrap">
        
        <ul class="nav" style="z-index: 999;">
         
            <li (click)="goRoute('two')"><a  data-class="is-first">Así Somos</a>
            </li>
            <li (click)="goRoute('three')" ><a data-class="is-second">Esto Hacemos</a>
            </li>
            <li  (click)="goRoute('four')"> <a data-class="is-third">Nos Eligen</a>
            </li>
            <li><a  data-class="is-fourth">Así Respondemos</a>
            </li>
             <li><a data-class="is-fifth">Tu Equipo</a>
            </li>
            <li><a data-class="is-sixth" style="color: #000;">Aqui Estamos</a>
            </li>
        </ul>
        <!-- <app-header ></app-header> -->

      <router-outlet></router-outlet>
      </div>



      <app-footer></app-footer>
</div>