<footer class="page-footer"  style="z-index: 999;">
    <div class="page-footer__inner container">
        <a class="page-footer__logo" href="" style="    height: 100%;" [ngStyle]="{'width': _butler.one ? '259px' : _butler.two ? '220px' : _butler.three ? '176px': _butler.four ? '130px': _butler.five ? '87px': _butler.six ? '43px': null  }">
           <img src="assets/assetssimp/assets/img/logofooter.jpg">
        </a>
        <div class="page-footer__form">
            <p><strong>Chile: </strong></p>
             <p>Presidente Errázuriz 2999, piso4<br>
                    los Condes, Santiago de Chile.
           
        </div>
        <div class="page-footer__form">
             <p><strong>Estados Unidos:</strong></p>
             <p>
                 1395 Brickell Avenue, Suite 800<br> Miami, FL 33131, USA.
             </p>
            
        </div>  
       
        <ul class="page-footer__social">
                <li><img src="assets/assetssimp/assets/img/colores.png" title="colores">

                </li>
        </ul>
        <ul class="page-footer__social">
                <li><a href="https://cl.linkedin.com/company/agenciasimplicity" target="_blank" rel="noreferrer noopener"><img src="assets/assetssimp/assets/img/linkedin.png" title="linkedin"></a>

                </li>
        </ul>
    </div>
    
</footer>