 <footer class="footer">
        <div class="container">

            <ul class="nav nav-pills nav-justified"  [hidden]="_butler.two || _butler.three">
                <li class="nav-item">
                    <a class="nav-link active"  (click)="go(1)" [routerLink]="['home']">
                        <span>
                            <i class="nav-icon bi bi-grid"></i>
                            <span class="nav-text">Home</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item center-item">
                    <a class="nav-link" (click)="go(2)" [routerLink]="['cart']" >
                        <span>
                            <i class="nav-icon bi bi-cart"></i>
                            <span class="nav-text">Cart</span>
                            <span class="countercart" [hidden]="_butler.totalItems===0">{{_butler.totalItems}}</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="go(3)" [routerLink]="['categories']" >
                        <span>
                            <i class="nav-icon bi bi-layers"></i>
                            <span class="nav-text">Categorias</span>
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-pills nav-justified"  [hidden]="_butler.one || _butler.three">
                <li class="nav-item">
                    <a class="nav-link " (click)="go(1)"[routerLink]="['home']" >
                        <span>
                            <i class="nav-icon bi bi-grid"></i>
                            <span class="nav-text">Home</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item center-item">
                    <a class="nav-link active"  (click)="go(2)" [routerLink]="['cart']">
                        <span>
                            <i class="nav-icon bi bi-cart"></i>
                            <span class="nav-text">Cart</span>
                            <span class="countercart" [hidden]="_butler.totalItems===0">{{_butler.totalItems}}</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  (click)="go(3)" [routerLink]="['categories']">
                        <span>
                            <i class="nav-icon bi bi-layers"></i>
                            <span class="nav-text">Categorias</span>
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-pills nav-justified"  [hidden]="_butler.two || _butler.one">
                <li class="nav-item">
                    <a class="nav-link "  (click)="go(1)" [routerLink]="['home']">
                        <span>
                            <i class="nav-icon bi bi-grid"></i>
                            <span class="nav-text">Home</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item center-item">
                    <a class="nav-link" (click)="go(2)"[routerLink]="['cart']" >
                        <span>
                            <i class="nav-icon bi bi-cart"></i>
                            <span class="nav-text">Cart</span>
                            <span class="countercart" [hidden]="_butler.totalItems===0">{{_butler.totalItems}}</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"   (click)="go(3)" [routerLink]="['categories']" >
                        <span>
                            <i class="nav-icon bi bi-layers"></i>
                            <span class="nav-text">Categorias</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>