  <main class="h-100 has-header has-footer">

        <!-- Header -->
     
        <!-- Header ends -->

        <!-- main page content -->
        <div class="main-container container">
            <!-- User list items  -->
            <div class="row">
                <div class="col-12">
                    <div class="card shadow-sm mb-4 ">
                        <ul class="list-group list-group-flush bg-none">
                            <li class="list-group-item border-0 " style="background:transparent !important;" *ngFor='let category of categories'>
                                <div class="row">
                                    <div class="col-auto">
                                        <figure class="avatar avatar-50 rounded-circle">
                                            <img src="{{category.img}}" alt="">
                                        </figure>
                                    </div>
                                    <div class="col px-0">
                                        <p>{{category.name}}<br>
                                        	<!-- <small class="text-opac">( 8 ) productos</small> -->
                                        </p>
                                    </div>
                                  <!--   <div class="col-auto text-end">
                                        <p>
                                            <small class="text-opac">Online <span class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                                        </p>
                                    </div> -->
                                </div>
                            </li>                          
                        </ul>
                    </div>
                </div>
            </div>
          
        </div>
        <!-- main page content ends -->


    </main>