<app-header ></app-header>
<div class="main-wrap">
    <div class="main-inner" >
        <main data-barba="container" data-barba-namespace="about" style=" padding-left:0%;">
            <div class="container" >
                
            </div>
            <div id="contenido"class="about container"style="">
                <div class="about-inner">
                    <!--inicio-->
                             <div class="about-hello scroll-section" id="hello" style="">
                                <div class="about-hello__title">
                                     <h1>Nos atrevemos.</h1>
                                    <div id="pensamos"style="background-color: black; ">
                                        
                                    <h1 style="color:blue;">Pensamos.</h1>
                                    </div>
                                    <h1>Hacemos.</h1>
                                </div>
                                <div class="about-inner__row1" style="">
                                    <div class="about-hello__copy about-inner__col--sm">
                                         <p>Nos apasiona trabajar con quienes definen lo<br>  creen y sueñan en grande.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12" >
                                    <img src="assets/assetssimp/assets/themes/simplicity/img/flecha.png">
                                </div>
                            </div>
                            <div class="about-hello1 scroll-section" id="hello" style="">
                                <div class="col-lg-12 col-md-12 flecha" >
                                    <img class="flecha" src="assets/assetssimp/assets/img/asisomos/matias-cartajena-editorial.webp" style="display: flex; height: auto; max-width: 100%;">
                                </div>
                            </div>
                            
                            <!--que he aprendido-->
                           <div class="about-mission about-inner__row scroll-section" id="mission" style="">    
                                <div class="about-inner__col--sm1">
                                    <h2 style=""> editorial</h2>
                                </div>
                                <div class="about-inner__col--sm">
                                    <h4 style="">Qué he aprendido en estos 10 años</h4>
                                    <p style="font-size: 24px;"><strong> Matías Cartajena</strong></p>
                                    <p style="font-size: 21px; color: #0092FF;">Socio Fundador & CEO</p>
                                </div>
                                <div class="about-inner__col--lg">
                                    <div class="page" title="Page 1">
                                        <div class="section">
                                            <div class="layoutArea">
                                                <div class="column">
                                                    <div class="page" title="Page 1">
                                                        <div class="section">
                                                            <div class="layoutArea">
                                                                <div class="column">
                                                                    <p>Nunca me ha gustado esto de escribir públicamente ni menos en primera persona. Soy de la escuela que los asesores no tienen que existir. El cliente es lo importante, no uno. Pero Simplicity cumple 10 años y me dieron ganas de romper la regla. </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layoutArea1">
                                                <div class="show-in-mob no-transition-menu-item home-copy__btn-wrap">
                                                <a class="btn2" href=""
                                                   data-class="is-first">Ver mas</a>
                                            </div>
                                            <div class="hide-in-mob home-copy__btn-wrap" style="    justify-content: flex-end;">

                                                <a class="btn2" href=""
                                                   data-class="is-first" style="">Ver mas</a>
                                            </div>
                                            </div>
                                    </div>
                                    </div>
                                </div>
                           </div>
                                <!--porque queremos ser los mejores-->
                            <div class="services" style="background-color:#000;">

                                <div class="services-item scroll-section is-active" id="brand-launch">
                                        <div class="services-item__title" style="">
                                            <h2 class="services-item__title">Porque queremos no solo ser la mejor                 empresa del mundo, sino para el mundo.</h2>
                                        </div>
                                    <div class="services-item__inner">
                                            <div class="services-item__content" style="width: 100%; max-width: 100%;padding-right: 0px;    margin-bottom: 0;">         
                                                 <div class="services-item__content-row" >
                                                            <div class="services-item__content-title">
                                                                <h5>somos la primera empresa Chilena de comunicaciones certificada como «Empresa B» y econocida internacionalmente en las categorías «Best for Governance» y Changemakers.</h5>
                                                            </div>

                                                            <div class="services-item__content-info"> 
                                                             
                                                                    <iframe width="460" height="315" src="https://www.youtube.com/embed/uxqeJD2Jb_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
                                                                  
                                                             </div>
                                                 </div>                                       
                                                   <img src="assets/assetssimp/assets/img/asisomos/b_logo.webp" style="max-width:10%;">
                                                   

                                            </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="about-inner__row2" style="">
                                <div class="about-hello__copy about-inner__col--sm">
                                    <div class="about-hello__title">
                                         <h1 >¿Tienes un nuevo desafío?</h1>
                                       
                                    </div>
                                </div>
                                <div class="no-transition-menu-item home-copy__btn-wrap1" style="">
                                    <a class="btn2" href=""> Aquí estamos </a>
                                </div>
                            </div>
                            
                </div>
            </div>
        </main>
    </div>
</div>