<div class="is-mobile"></div>

<header class="page-header container">
    <div class="page-header__inner">
        <div class="page-header__logo-wrap show-in-mob no-transition-menu-item">
            <a class="page-header__logo page-header__logo--front" href="index.html">
                <img src="assets/assetssimp/assets/img/logowhite.png" alt="Simplicity">
            </a>

        </div>
        <button class="hamburger"><span class="visually-hidden">Menu</span></button>
        <div class="page-header__logo-wrap hide-in-mob col-lg-12 col-md-12" >
            <div class="col-md-6 col-lg-6">
                <a class="page-header__logo  page-header__logo--front" href="index.html">
                <img src="assets/assetssimp/assets/img/logowhite.png" alt="Simplicity">
            </a>
            </div>
            <div class="col-md-6 col-lg-6">
                <a class="btn1 page-header__logo  page-header__logo--front" href="index.html" data-class="is-first" style="color: #fff;">es </a>

                <a class="btn1 page-header__logo  page-header__logo--front" href="" data-class="is-first" style="color: #fff;">| en  </a>
                <a class="btn1 page-header__logo  page-header__logo--front" href="" data-class="is-first" style="color: #fff; border: 2px solid #fff;"> Estados Unidos</a>
            </div>
            
   
            
        </div>

        <nav class="page-header__nav">
            <ul id="menu-header-menu" class="page-header__menu">
                <li  class=""><a href="asisomos.html">Así somos</a>
                </li>
                <li  class=""><a href="estohacemos.html">Esto Somos</a>      
                </li>
                <li  class=""><a href="noseligen.html">Nos Eligen</a>
                </li>
                <li  class=""><a href="asirespondemos.html">Así Respondemos</a>
                </li>
                <li  class=""><a href="tuequipo.html">Tu Equipo</a>
                </li>
                <li  class=""><a href="aquiestamos.html" style="color: #000;">Aqui Estamos</a>
                </li>
                
            </ul>        
        </nav>
        
    </div>
</header>



<div class="main-wrap">
    
    <ul class="nav">
     
        <li><a href="asisomos.html" data-class="is-first">Así Somos</a>
        </li>
        <li><a href="estohacemos.html" data-class="is-second">Esto Hacemos</a>
        </li>
        <li><a href="noseligen.html" data-class="is-third">Nos Eligen</a>
        </li>
        <li><a href="asirespondemos.html" data-class="is-fourth">Así Respondemos</a>
        </li>
         <li><a href="tuequipo.html" data-class="is-fifth">Tu Equipo</a>
        </li>
        <li><a href="aquiestamos.html" data-class="is-sixth" style="color: #000;">Aqui Estamos</a>
        </li>
    </ul>
  
    <div class="main-inner">
        <main data-barba="container" data-barba-namespace="home">
            <section class="home__page container">
                <!-- <div class="home__animation"></div> -->
                <div class="home__copy">
                   <h1 class="heading-lg" style="color:#fff;">
                    Disfrutamos hacernos <br>cargo, sin miedo, <br>de los desafios<br> comunicacionales <br> del futuro.</h1>
                    

                        <div class="show-in-mob no-transition-menu-item home-copy__btn-wrap">
                            <a class="btn" href=""
                               data-class="is-first" style="color: #000;">Descubre Simplicity</a>
                        </div>
                        <div class="hide-in-mob home-copy__btn-wrap">

                            <a class="btn" href=""
                               data-class="is-first" style="color: #000;">Descubre Simplicity</a>
                        </div>

                    
                </div>
            </section>
        </main>
    </div>
</div>




<footer class="page-footer">
    <div class="page-footer__inner container">
        <a class="page-footer__logo" href="" style="    height: 100%;">
           <img src="assets/assetssimp/assets/img/logofooter.jpeg">
        </a>
        <div class="page-footer__form">
            <p><strong>Chile: </strong></p>
             <p>Presidente Errázuriz 2999, piso4<br>
                    los Condes, Santiago de Chile.
           
        </div>
        <div class="page-footer__form">
             <p><strong>Estados Unidos:</strong></p>
             <p>
                 1395 Brickell Avenue, Suite 800<br> Miami, FL 33131, USA.
             </p>
            
        </div>  
       
        <ul class="page-footer__social">
                <li><img src="assets/assetssimp/assets/img/colores.png" title="colores">

                </li>
        </ul>
        <ul class="page-footer__social">
                <li><a href="https://cl.linkedin.com/company/agenciasimplicity" target="_blank" rel="noreferrer noopener"><img src="assets/assetssimp/assets/img/linkedin.png" title="linkedin"></a>

                </li>
        </ul>
    </div>
    
</footer>